<div class="body-content">
	<div class="left-align shadow">
		<h3>Welcome, {{ cat_name }}!</h3>
		<p>{{ cat_name }} is {{ cat_age }} years old, and has {{ cat_colors }} colors.</p>
	</div>
	<div class="cat_image shadow" style="background-image: url({{ cat_image }})"
</div>